<!-- <router-outlet></router-outlet> -->
<div class="flex flex-row justify-start">

  <div class="sidebar flex flex-col p-8 m-8">
    <div
      class="  h-70 border-b border-gray-300 border-[1px] sidebar-header sticky top-0 flex flex-row justify-between  items-center ">
      <div class="header-log">
        <img src="" alt="logo test">

      </div>
      <div class="sidebar-toogle">
        <button></button>

      </div>
    </div>
    <div class="sidebar-menu h-full  overflow-y-scroll flex flex-col gap-1">
      <ul>
        <li class="flex "> <mat-icon class="primary-text-color mx-1">home</mat-icon>
          Overview
        </li>
        <li class="flex "> <mat-icon class="primary-text-color mx-1">calendar_today</mat-icon> Appointment</li>
        <li class="flex "> <mat-icon class="primary-text-color mx-1">person_outline</mat-icon> Doctors</li>
        <li class="flex "> <mat-icon class="primary-text-color mx-1">file_copy</mat-icon> Pathology Results</li>
        <li class="flex ">
          <div>
            <mat-icon class="primary-text-color mx-1">chat</mat-icon> Chat

          </div>
        </li>
        <li class="flex "><mat-icon class="primary-text-color mx-1">chat</mat-icon> Chat</li>

       
      </ul>
      <label class="mx-2 font-medium">Accounts</label>
      <ul>
        <li class="flex "><mat-icon class="primary-text-color mx-1">settings</mat-icon> Setting</li>
        <li class="flex "><mat-icon class="primary-text-color mx-1">exit_to_app</mat-icon> Logout</li>

      </ul>
    </div>
    <div class="sidebar-footer  sticky bottom-0  flex flex-row border-b border-gray-300 border-[1px] gap-1">
      <div> <mat-icon class="primary-text-color mx-1">home</mat-icon></div>

      <div class="flex flex-col ">
        <div class="text-red-700 font-medium">Emergincy Hotlines:</div>
        <div> +234 1332 2342</div>

      </div>
    </div>
  </div>
  <div class="content flex flex-col">

    <!-- toolbar -->
    <div class=" mx-1 rounded-lg h-70 flex items-center justify-between p-4 bg-gray-100">
      <div class="flex-1 mx-2 ">
        <input type="text" placeholder="Search..."
          class="w-full px-2 py-2 bg-white text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <!-- div badge notification -->
      <div>
        <button class="p-2 bg-gray-700 rounded-full hover:bg-gray-200 focus:outline-none">
          <mat-icon class="primary-text-color ">notifications</mat-icon>

          <!-- Badge -->
          <span class="absolute top-0 right-0 block w-2.5 h-2.5 bg-red-500 rounded-full border-2 border-white"></span>
        </button>
      </div>
      <!-- profile -->
      <div class="flex items-center mx-2 border-l border-gray-300 border-l-1 px-2">
        <img src="" class="rounded-full w-10 h-10" alt="">
        <div class="mx-1">
          <div class="font-medium">Marwa Alnaqar</div>
          <div>Software Developer</div>
        </div>
      </div>
    </div>
    <!-- grid content -->
    <div class=" my-1 mx-1 grid grid-cols-3 gap-4 sm:grid-cols-1 md:grid-cols-1 gap-4">
      <!-- First Row -->
      <div class="w-full bg-gray-400 p-4  h-400"></div>
      <div class="w-full bg-gray-400 p-4 h-400 "></div>
      <div class="w-full bg-gray-400 p-4 h-400"></div>

      <!-- Second Row -->
      <div class="col-span-3 sm:col-span-2  flex flex-col sm:flex-row gap-4">
        <div class="flex-1 bg-gray-400 p-4 h-400"></div>

      </div>
      <div class="w-full bg-gray-400 p-4 h-400"></div>
    </div>
    <div class="w-full-table mx-2">
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>role</th>
            <th>Appointmet</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>marwa</td>
            <td>admin</td>
            <td>30</td>
          </tr>
          <tr>
            <td>marwa</td>
            <td>admin</td>
            <td>30</td>
          </tr>
          <tr>
            <td>marwa</td>
            <td>admin</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
  
      <!-- <ngx-datatable [rows]="rows" [footerHeight]="50" [headerHeight]="50" [rowHeight]="50">

        <ngx-datatable-column [width]="50" name="name" prop="name">

        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" name="role" prop="role">

        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" name="appointment" prop="appointment">

        </ngx-datatable-column>
      </ngx-datatable> -->
    </div>

  </div>

</div>